.FluidListViewItem#LayoutContainer {
    flex-direction: row;
    align-items: center;
}

.FluidListViewItem#ItemIndex {
    font-size: 11px;
    padding-right: 2px;
    -unity-text-align: middle-center;
    width: 26px;
    display: none;
}

.FluidListViewItem#ItemContentContainer {
    flex-grow: 1;
}

.FluidListViewItem#ItemRemoveButtonContainer {

}