#layoutContainer.ModyStateIndicator
{
    align-self: center;
    max-width: 128px;
    flex: 1;
    flex-direction: row;
}

#indicatorText.ModyStateIndicator
{
    align-self: center;
    padding: 4px 8px;
}

#barContainer.ModyStateIndicator
{
    justify-content: center;
}

#indicatorBar.ModyStateIndicator
{
    width: 12px;
    height: 12px;
    margin-right: 8px;
}