.AnimationInfo#layoutContainer {
    padding: 6px;
    border-radius: 6px;
    border-width: 1px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.AnimationInfo#content {
    flex-direction: row;
}

.AnimationInfo#previewImageContainer {
    width: 80px;
    height: 80px;
    padding: 8px;
    border-width: 1px;
    border-radius: 2px;
    margin-right: 2px;
}

.AnimationInfo#previewImage {
    width: 64px;
    height: 64px;
    align-self: center;
    -unity-background-scale-mode: scale-to-fit;
}

.AnimationInfo#detailsContainer {
    flex-grow: 1;
    margin-left: 4px;
    justify-content: space-between;
    flex-direction: column;
}

.AnimationInfo#animationName {
    margin: 0;
    padding: 0;
}

.AnimationInfo#pathLabel {
    font-size: 8px;
    -unity-text-align: middle-left;
    margin: 0;
    padding: 0;
    padding-top: 4px;
}

.AnimationInfo#numberOfFrames {
    font-size: 11px;
    -unity-text-align: upper-right;
}

.AnimationInfo#textureSize {
    font-size: 9px;
    -unity-text-align: upper-right;
}

.AnimationInfo.FieldName{
    font-size: 8px;
    -unity-text-align: middle-left;
    padding: 0;
    margin: 0;
}